@use '../../utils' as *;
/*---------------------------------
    1.2 counter
---------------------------------*/

.#{$theme-prifix}-counter {
    &-yoga{
        &-number{
            font-weight: 600;
            font-size: 60px;
            letter-spacing: -0.03em;
            color: var(--tp-common-white);
        }
        &-subtitle{
            font-weight: 500;
            font-size: 14px;
            text-transform: uppercase;
            text-align: center;
            color: rgba(255, 255, 255, 0.7);
        }
        &-wrap{
            &.tp-border{
                border-right: 1px solid rgba(255, 255, 255, 0.1);
                @media #{$md,$sm,$xs}{
                    border-right: 0;
                }
            }
        }
    }
    &-chef{
        &-wrap{
            & .tp-counter-yoga-number {
                font-family: var(--tp-ff-inter);
                color: var(--tp-common-black);
            }
            & .tp-counter-yoga-subtitle {
                font-weight: 500;
                font-size: 14px;
                text-transform: uppercase;
                color: var(--tp-text-body);
            }
            & .tp-border {
                border-right: 1px solid rgba(33, 33, 32, 0.08);
                @media #{$md,$sm,$xs}{
                    border: none;
                }
            }
        }
    }
    &-quran{
        &-subtitle{
            font-weight: 400;
            font-size: 16px;
            text-transform: uppercase;
            color: var(--tp-heading-primary);
            @media #{$xs}{
                font-size: 14px;
            }
        }
        &-wrap{
            border-top: 1px solid #f7f6f4;
            @media #{$xs}{
                border-top: none;
            }
            & .tp-counter-yoga-number {
                color: var(--tp-theme-11);
            }
            & .tp-counter-yoga-subtitle {
                font-weight: 400;
                text-transform: uppercase;
                color: #7a7d84;
            }
            & .tp-counter-yoga-wrap{
                padding-top: 66px;
                padding-bottom: 60px;
                border-right: 1px solid #f7f6f4;
                border-left: 1px solid #f7f6f4;
                margin-left: -1px;
                @media #{$xs}{
                    border-right: 0;
                    border-left: 0;
                    padding-top: 16px;
                    padding-bottom: 20px;
                }
            }
        }
    }
}